<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Green Charging</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <link rel="stylesheet" type="text/css" href="../static/css/media.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg"> <!--navigation bar-->
            <a class="navbar-brand" href="/">GreenCharging</a>
            <img src="ChargingStation.jpg" alt="ChargingStation" width="1200" height="300">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/search">Search Nearby</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class = "container">
            <div class = "row">
                <div class = "col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <h2 class = "header-1">
                        What you can do with our mobile app
                    </h2>
                        <div class="sixty-forty-wrap">
                            <div class="sixty-forty-row">
                                <div class="sixty-side">
                                    <div class="sixty-pre-title">Quick Access</div>
                                    <h4 class="sixty-title">View all GreenCharging spots</h4>
                                    <div class="sixty-blurb">
                                        Find a GreenCharging station near you thats 
                                        open, available, and ready to be used. Our mobile 
                                        app makes easy for you to charge on-the-go. 
                                        In addition, it will help you find nearby 
                                        coffee shop, restautant, etc.
                                    </div>
                                </div>
                                <div class="forty-side"> 
                                    <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_quick-access-1.svg" alt="" 
                                    class="forty-image">
                                </div>
                            </div>

                            <div class="sixty-forty-row">
                                <div class="sixty-side">
                                    <div class="sixty-pre-title">Travel With Confidence
                                    </div>  
                                    <h4 class="sixty-title">Locate the nearest charger</h4>
                                    <div class="sixty-blurb">
                                        Use location services to easily find the closest 
                                        charger, filter on charger type, and create a list 
                                        of your favorite charging spots.
                                    </div>
                                </div>
                                <div class="forty-side"> 
                                    <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_travel-confidence-1.svg" alt="" class="forty-image">
                                </div>
                            </div>

                            <section class="ev-drivers-section smart-charging-section">
                                <div class="wrap">
                                    <header class="smart-charging-header">
                                        <div class="sc-head__pre-title">power user</div>
                                        <h3 class="sc-head__section-title">Smart Charging</h3>
                                        <div class="sc-head__section-blurb">
                                            Stay informed with real-time updates, charging 
                                            status, history and payment details all from your 
                                            app.
                                        </div>
                                    </header>
                                <div class="image-blurbs-outer one23grid">
                                    <div class="img-blurb">
                                        <div class="img-blurb__image-wrap"> 
                                            <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_charging-updates-1.svg" alt="" class="img-blurb__image">
                                        </div>
                                        <div class="img-blurb__blurb"> Get real-time charging updates</div>
                                    </div>
                                    <div class="img-blurb">
                                        <div class="img-blurb__image-wrap"> 
                                            <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_smart-charging-1.svg" alt="" class="img-blurb__image">
                                        </div>
                                        <div class="img-blurb__blurb"> Check your charging progress</div>
                                    </div>
                                    <div class="img-blurb">
                                        <div class="img-blurb__image-wrap"> 
                                            <img src="https://greenlots.com/wp-content/uploads/2019/02/GL_icon_history-balance-1.svg" alt="" class="img-blurb__image">
                                        </div>
                                        <div class="img-blurb__blurb"> View your charging history and balance</div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    <hr class="my-4">
                </div>
                <div class = "col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <h2 class = "header-2">
                        Relevant infomation
                    </h2>
                    <hr class="my-4">
                    <div class = "images">
                        <ul>
                            <li><a href="../static/img/power_types.png" target = "_blank">Power Levels</a></li>
                            <li><a href="../static/img/plug_types.png" target = "_blank">Connection Types</a></li>
                        </ul>
                    </div>
                    <div id= "bar"></div>
                    <hr>
                    <div id= "pie"></div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="../static/js/bar.js"></script>
        <script src="../static/js/pie.js"></script>
    </body>
</html